//colors
$color_log_cabin_approx: rgba(48, 46, 46, 0.795);
$white: white;
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 80px;
}

.App-header {
  background-color: $color_log_cabin_approx;
  height: 135px;
  padding: 10px;
  color: $white;
}

.App-title {
  font-size: 1.8em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: rotate(0deg);
  }
  to {
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: rotate(360deg);
  }
}